* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
header {
	background-color: darkslateblue;
	padding: 4px 10%;
	margin-bottom: 50px;
}
h1 {
	text-align: center;
	color: silver;
	font-size: 45px;
	font-weight: 600;
	text-shadow:  2px 2px 2px black;
}
.app {
	background-image: url(./images/sun.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
}
.taskCard {
	width: 250px;
	padding: 10px 25px 15px 25px;
	margin: 10px 1%;
	background-color: rgb(228, 228, 228);
	border-radius: 5px;;
}
.taskCardTitleInputArea {
	margin-bottom: 10px;
	width: 30%;
	cursor: pointer;
}
.taskCardTitleInput {
	width: 80px;
	font-size: 1.1rem;
	padding: 4px 6px;
	border-radius: 3px;
	border: none;
	outline: none;
}
.taskAddInput {
	width: 100%;
	font-size: 1.3rem;
	padding: 10px 15px;
	border-radius: 3px;
	border: none;
	outline: none;
}
.taskBox {
	width: 100%;
	padding: 10px 15px;
	background-color: white;
	margin-top: 10px;
	border-radius: 5px;
	border: none;
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-shadow: 1px 1px 1px 1px rgb(75,75,75);
}
.taskTrashButton {
	border: none;
	cursor: pointer;
}
.taskCardArea {
	display: flex;
	flex-wrap: wrap;
}
.addTaskCardButtonArea {
	padding-top: 20px;
	padding-left: 10px;
}
.addTaskCardButton {
	font-size: 40px;
	line-height: 1.0;
	padding: 5px 15px;
	border-radius: 50%;
	cursor: pointer;
	border: none;
	box-shadow: 3px 3px 8px 1px black;
	background-color: rgb(221, 194,162);
	transition: all 0.3s;
}
.addTaskCardButton:hover {
	box-shadow: 0px 0px 0px 0px;
	transform: translate(3px,3px);
}
.taskCardHeader {
	display: flex;
	justify-content: space-between;
}
.taskCardDeleteButton {
	border: none;
	cursor: pointer;
	font-size: 20px;
	background-color: transparent;
	color: brown;
}